@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="section-title ">Yêu cầu đặt lại mật khẩu đã được gửi</h2>
<p class="section-title ">Vui lòng kiểm tra email của bạn để nhận liên kết đặt lại mật khẩu.</p>
